body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: auto;
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60); /* MSIE */
  /* white-space: nowrap; */
}

div {
  outline-style: none;
}

.underline {
  text-decoration: underline;
}

.main-line {
  opacity: 0.8 !important; /* Real browsers */
  filter: alpha(opacity = 80) !important; /* MSIE */
}

.right-round {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.left-round {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.good {
  background-color: rgb(152, 238, 149);
}

.bad {
  background-color: pink;
}

.not-typed {
  background-color: orange;
}
